html {
    background-color: white;
    font-family: verdana;

}

h1 {
   text-align: center;
}

form {
   padding: 2em;
   text-align: center;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 24em;
}

th, td {
    text-align: center;
    padding: 1em;
    border: 1px solid #dddddd;
}

tr:nth-child(even){
    background-color: #dad9d4
}
